<div class"layout_wrapper">
	<button type="flat" id="call_headline" class="layout_stack">
		<span id="call_status">HAHA</span> to <span class="call_contact">HAHAHA</span>
	</button>
	<div id="call_screen" class="layout_stack">

		<video id="video-phone-ringing" width="100%" height="100%" style="display:none;">
		  <source src="<%= request.base_url %>/videos/phone_ringing.ogg" type="video/ogg"/>
		  <object data="<%= request.base_url %>/videos/phone_ringing.ogg" width="100%" height="100%">
		    <embed width="100%" height="100%" src="movie.swf">
		  </object>
		</video>

		<video id="video-canned-call" width="100%" height="100%" style="display:none;">
		  <source src="<%= request.base_url %>/videos/canned_call2.ogg" type="video/ogg"/>
		  <object data="<%= request.base_url %>/videos/canned_call2.ogg" width="100%" height="100%">
		    <embed width="100%" height="100%" src="movie.swf">
		  </object>
		</video>
    
    <div id="div-scratchpad" style="display:none;">
      <canvas style="border:1px solid grey;" id="canvas-scratchpad" width="276" height="188">
      </canvas>
    </div>

	</div>
	<div id="call_setting" class="layout_stack">
		<div>
			<span class="lbl_setting">Screen share</span>
            <img id="btn_screen_share" class="toggle_button toggle_button_on" /><br />
			<span class="screen_share_tips_wrapper">
				<span class="call_contact"></span> <span id="txt_screen_share">CAN</span> see your screen
			</span>
			<br />
			<span class="lbl_setting">Microphone</span>
            <img id="btn_microphone" class="toggle_button toggle_button_on" /><br />
			<span class="screen_share_tips_wrapper">
				<span class="call_contact"></span> <span id="txt_microphone">CAN</span> hear your voice
			</span>
		</div>
		<div>
		</div>
	</div>
	<button id="call_bottom" class="layout_stack">End Call</button>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script type="text/javascript">
  var imgDataRef;
  var canvas;
  var ctx;
  var canvasHeight, canvasWidth;

  $.extend({
      getUrlVars : function() {
          var vars = [], hash;
          var hashes = window.location.href.slice(
              window.location.href.indexOf('?') + 1).split('&');
          for ( var i = 0; i < hashes.length; i++) {
              hash = hashes[i].split('=');
              vars.push(hash[0]);
              vars[hash[0]] = hash[1];
          }
          return vars;
      },
      getUrlVar : function(name) {
          return $.getUrlVars()[name];
      }
  });

  $(document).ready(function(){
    //Create a reference to the img data we are syncing with.
    imgDataRef = new Firebase('https://amber-fire-4895.firebaseio.com/techconnect-img-data/');
    
    // initialize the canvas globals
    canvas = document.getElementById("canvas-scratchpad");
    ctx = canvas.getContext("2d");
    canvasHeight = canvas.height;
    canvasWidth = canvas.width;
    
    var call_contact;

    if ($.getUrlVar('name')) {
        call_contact = $.getUrlVar('name');
    } else {
        call_contact = 'Jane';
    }

    $("video").volume = 0;
    updateContact(call_contact);
    updateCallStatus(false);


    setTimeout(function(){
      updateCallStatus(true);
    },9000);
    
    
    imgDataRef.on("value", drawImg);
    
    // set the current image to nothingness
    imgDataRef.set("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAbCAIAAAB5kqHOAAAAJUlEQVRIie3NAQkAAAwDoPUvvbU4HLSA6ZWYTCaTyWQymUzPpgH2DQiTB3XnzwAAAABJRU5ErkJggg==");

  });
  
  var drawImg = function(snapshot){
    img = snapshot.val();
    console.log("attempting to draw image encoded as: " + img);
          
    var img2 = new Image();
    img2.onload = function(){
      var heightScaleFactor = img2.height/canvasHeight;
      var widthScaleFactor = img2.width/canvasWidth;
      var maxScaleFactor = Math.max(heightScaleFactor, widthScaleFactor);
      var newImgHeight = img2.height;
      var newImgWidth = img2.width;
      if (maxScaleFactor > 1){
        // we need to scale the image down so it fits in the canvas.
        newImgHeight = img2.height/maxScaleFactor;
        newImgWidth = img2.width/maxScaleFactor;
      }
      ctx.fillStyle = "#FFFFFF";
      ctx.fillRect(0, 0, canvasWidth, canvasHeight);
      ctx.drawImage(img2, (canvasWidth-newImgWidth)/2, (canvasHeight-newImgHeight)/2, newImgWidth, newImgHeight);
    }
    img2.src = img;
  };
  
  $(".toggle_button").click(function(e){
    var target = e.toElement;
    var isTuringOff = $(target).hasClass('toggle_button_on');
  //var target = $('.'+button_id);
  if(isTuringOff){
    $(target).removeClass('toggle_button_on');
  }else{
    $(target).addClass('toggle_button_on');
  }

  if(target.id=='btn_screen_share'){
    $('#txt_screen_share').text(isTuringOff ? 'CANNOT' : 'CAN');
  }else{
    $('#txt_microphone').text(isTuringOff ? 'CANNOT' : 'CAN');
  }
  });

  $("#call_bottom").click(function(e){
    location.href="<%= request.base_url %>/d/contacts";
  });

  var updateContact = function(name, photo){
    $(".call_contact").text(name);
  }

  var updateCallStatus = function(isConnected){
    if(isConnected){
      $("#call_headline").removeClass('call_headline_calling');
      $("#call_headline").addClass('call_headline_connected');
      $("#call_status").text('Connected');
      $("#video-phone-ringing").hide();
      $("#div-scratchpad").show();
    }else{
      $("#call_headline").addClass('call_headline_calling');
      $("#call_headline").removeClass('call_headline_connected');
      $("#call_status").text('Connecting');
      $("#video-phone-ringing").show();

      $("#video-phone-ringing")[0].play();
    }
  };
  
  

</script>