(function() {
  // Probably better way to write this, but for now
  // Load javascripts for jQuery, jQuery UI, Quokka,
  // and then show dialog
  if (!($ = window.jQuery)) {
    // No jQuery
    load_jquery();
  } else if (!(jQuery.ui)) {
    // jQuery but no jQuery UI
    load_jqueryui();
  } else if (!quokka) {
    // no Quokka yet
    initQuokka();
  } else {
    showQuokka();
  }

  function load_jquery() {
    console.log('Quokka is loading jQuery');

    var script = document.createElement('script');
    script.src = '<%= request.base_url %>/js/jquery-1.10.2.js';
    script.onload=load_jqueryui;
    document.body.appendChild(script);
  }

  function load_jqueryui() {
    console.log('Quokka is loading jQuery UI');

    var script = document.createElement('script');
    script.src = '<%= request.base_url %>/js/jquery-ui-1.10.4.custom.min.js';
    script.onload=initQuokka;

    var styles = document.createElement('link');
    styles.rel = 'stylesheet';
    styles.type = 'text/css';
    styles.href = '<%= request.base_url %>/css/jquery-ui-1.10.4.custom.css';

    document.body.appendChild(styles);
    document.body.appendChild(script);
  }

  function initQuokka() {
    console.log('Launching Quokka!');
    
    var styles = document.createElement('link');
    styles.rel = 'stylesheet';
    styles.type = 'text/css';
    styles.href = '<%= request.base_url %>/css/quokka.css';
    document.body.appendChild(styles);

    $("body").append($.parseHTML('<div id="quokka"></div>'));
    initDialog();
  }

  function initDialog() {
    $("#quokka").append('<%= compress_erb(erb :dialog) %>');
    $("#quokka_dialog").dialog({
      appendTo: $("#quokka"),
      autoOpen: false,
    });
    showQuokka();
  }

  function showQuokka() {
    $("#quokka_dialog").dialog("open");
    $("#quokka_dialog").dialog("option", "position", { my: "right top", at: "right top", of: "body" });
  }

  // function setQuokkaContent(erb) {
  //   $("#quokka_content").html('<%= compress_erb(erb :someScreen %>');
  // }
})();
